* {
box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-black {
    color: black;;
}

.hideDiv {
    display: none;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    margin-top: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.black-theme {
    color: #e5e5e5;
    background-color: black;
}

.main-header {
    padding: 15px;
    text-align: center;
}

.sidebar-main {
    overflow: auto;
}

.hide {
    width: 5%;
    transition: all 1s ease-out;  
}

.show {
    width: 20%;
    transition: all 1s ease-in;
    opacity: 100;  
}

/* slider */
.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
.image-container {
    display: flex;
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
.slide {
    cursor: pointer;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.folder-view {
    background-color: black;
    height: 100%;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: green;
    font-weight: 500;
    font-family: fantasy;
    padding-top: 25px;
}

#slide-1:target ~ .image-container {
    left: 0px;
}
#slide-2:target ~ .image-container {
    left: -535px;
}
#slide-3:target ~ .image-container {
    left: -1070px;
}
#slide-4:target ~ .image-container {
    left: -1605px;
}
#slide-5:target ~ .image-container {
    left: -2040px;
}
.buttons {
    position: relative;
    top: -20px;
}
.buttons a {
    margin-left: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
}

.trending-name-span {
    width: 80% !important;
    max-height: 50px;
    display: flex;
    color: white;
    height: 65px;
    word-wrap: break-word;
    position: absolute;
    left: 10px;
    top: 10px;
}
/* end slider */

.player-main-div {
    position: relative;
    padding-bottom: 56%;
    padding-top: 20px;
}

.all-movie-list-main {
    cursor: pointer;
    margin-left: 15px;
    height: 180px;
    width: 260px;
    border: solid 5px black;
    position: relative;
}

.all-movie-list {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    width: 100% !important;
}

.video-list-span {
       /* width: 80% !important; */
       max-height: 50px;
       padding: 5px;
       /* display: flex; */
       color: white;
       /* height: 65px; */
       /* word-wrap: break-word; */
       position: absolute;
       left: 0px;
       bottom: 0;
       background: black;
       text-overflow: '..';
       overflow: hidden;
}

.iframe-class {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
}

.menu {
    /*  */
    display: flex;
    /*  */
    float: left;
    /* width: 20%; */
    width: 100%;
    text-align: center;
    height: 100%;
    border: 2px solid black;
    padding: 0px 5px 5px 5px;
}

.menu span {
    color: #e5e5e5;
    background-color: black;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.main {
    float: left;
    width: 80%;
    padding: 0 20px;
}

.water-mark-hide {
    background: black;
}
.water-mark-hide {
    width: 177px;
    height: 40px;
    z-index: 11000;
    display: flex;
    position: absolute;
    right: 17px;
    top: 17px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

.vjs-watermark-content .vjs-watermark-top-right .vjs-watermark-fade {
    visibility: hidden !important;
}

* :global(.vjs-watermark-content) {
    visibility: hidden !important;
    display: none;
}

@media only screen and (min-width: 551px) {
/* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
        display: flex;
    }
}

@media (min-width: 200px) and (max-width: 550px) {
    .menu {
        width: 100%;
        display: block;
    }
    .slider {
        width: 100%;
    }
}